
{% set server = salt['grains.filter_by']({
    'Debian': {
        'pkgs': ['heat-api', 'heat-api-cfn', 'heat-api-cloudwatch', 'heat-engine', 'heat-common','python-heatclient'],
        'services': ['heat-api', 'heat-api-cfn', 'heat-api-cloudwatch', 'heat-engine'],
        'notification': False
    },
    'RedHat': {
        'pkgs': ['openstack-heat-api', 'openstack-heat-api-cfn', 'openstack-heat-api-cloudwatch', 'openstack-heat-engine', 'openstack-heat-common'],
        'services': ['openstack-heat-api', 'openstack-heat-api-cfn', 'openstack-heat-api-cloudwatch', 'openstack-heat-engine'],
        'notification': False
    },
}, merge=salt['pillar.get']('heat:server')) %}

{% set client = salt['grains.filter_by']({
    'Debian': {
        'pkgs': ['python-heatclient'],
    },
    'RedHat': {
        'pkgs': ['python-heatclient'],
    },
}, merge=salt['pillar.get']('heat:client')) %}

{% set heat_settings = {} %}

{% if pillar.get('keystone', {}).get('server', {'enabled': False } ).enabled %}
   {% do heat_settings.update({'token': pillar.keystone.server.service_token,
                        'endpoint': 'http://' ~ pillar.keystone.server.bind.private_address ~ ':' ~ pillar.keystone.server.bind.private_port ~ '/v2.0'
                         })
   %}
{%- elif pillar.get('keystone', {}).get('client', {'enabled': False } ).enabled %}
{%- if pillar.keystone.client.server.service_token is defined %}
    {% do heat_settings.update({'token': pillar.keystone.client.server.service_token,
                        'endpoint': 'http://' ~ pillar.keystone.client.server.host ~ ':' ~ pillar.keystone.client.server.private_port ~ '/v2.0'
                        })
    %}
{%- else %}
    {% do heat_settings.update({'user': pillar.keystone.client.server.user,
                        'password': pillar.keystone.client.server.password,
                        'tenant': pillar.keystone.client.server.tenant,
                        'auth_url': 'http://' ~ pillar.keystone.client.server.host ~ ':' ~ pillar.keystone.client.server.public_port ~ '/v2.0/'
                        })
    %}
{%- endif %}
{%- endif %}